force-app/main/default/flows/Account_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <formulas>
        <name>dueDate_plus2</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 2</expression>
    </formulas>
    <interviewLabel>Account Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <faultConnector>
            <targetReference>Account_Update_Flow_Catch_New_Task_Errors</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate_plus2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.Biotech</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>AccountOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Description</name>
        <label>Update Description</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Create_New_Task</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Account_Update_Flow_Catch_Update_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Industry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Biotechnology</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Label.Biotech</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Description</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This is to determine the possible errors in creating new task</description>
        <name>Account_Update_Flow_Catch_New_Task_Errors</name>
        <label>Account Update Flow - Catch New Task Errors</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <flowName>App_Log_Flow</flowName>
        <inputAssignments>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logType</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stackTrace</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetName</name>
            <value>
                <stringValue>Account Update - Create new Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetType</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This is to determine the possible errors in updates</description>
        <name>Account_Update_Flow_Catch_Update_Errors</name>
        <label>Account Update Flow - Catch Update Errors</label>
        <locationX>704</locationX>
        <locationY>278</locationY>
        <flowName>App_Log_Flow</flowName>
        <inputAssignments>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logType</name>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>stackTrace</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetName</name>
            <value>
                <stringValue>Account Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>targetType</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
